In [6]:
import yaml 
import glob 
import pandas as pd
files = glob.glob("*.yaml")
print(f"実験結果数 : {len(files)}")

def profiling(profile, id):
    age = int(id[5])
    gender = id[4]

    age_th = 5

    if profile == 0:
        res = 0
    elif profile == 1:
        # 性別
        if gender == 'F':
            res = 0
        else:
            res = 1
    elif profile == 2:
        # 年齢(2クラス)
        # 40 <=, 40 >
        if age <= age_th:
            res = 0
        else:
            res = 1
    elif profile == 3:
        if gender == 'F':
            if age <= age_th:
                res = 0 
            else:
                res = 1
        else:
            if age <= age_th:
                res = 2
            else:
                res = 3
    return res

実験結果数 : 12

# TS & ternary

In [7]:
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            results = obj["results"]
            data = list(results.values())
            acc = round(sum(data) / len(data), 3)
            df_results.at[config['pmode'], config['modal']] = acc

display(df_results)

       t      a      v  ta  tv  av  tav
0  0.762  0.681  0.672   0   0   0    0
1  0.757  0.726  0.641   0   0   0    0
2  0.756  0.699  0.656   0   0   0    0
3  0.740  0.703  0.502   0   0   0    0

### 性別

In [8]:
# 女性
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(1, key) == 0:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("女性")
display(df_results)

# 男性
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(1, key) == 1:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("男性")
display(df_results)

女性

       t      a      v  ta  tv  av  tav
0  0.758  0.674  0.664   0   0   0    0
1  0.750  0.732  0.639   0   0   0    0
2  0.752  0.705  0.650   0   0   0    0
3  0.739  0.694  0.501   0   0   0    0

男性

       t      a      v  ta  tv  av  tav
0  0.770  0.697  0.688   0   0   0    0
1  0.774  0.714  0.647   0   0   0    0
2  0.766  0.686  0.668   0   0   0    0
3  0.744  0.723  0.505   0   0   0    0

### 年齢

In [9]:
# 50歳未満
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(2, key) == 0:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("50歳未満")
display(df_results)

# 50歳以上
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(2, key) == 1:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("50歳以上")
display(df_results)

50歳未満

       t      a      v  ta  tv  av  tav
0  0.774  0.684  0.681   0   0   0    0
1  0.774  0.737  0.647   0   0   0    0
2  0.774  0.710  0.678   0   0   0    0
3  0.751  0.717  0.510   0   0   0    0

50歳以上

       t      a      v  ta  tv  av  tav
0  0.726  0.674  0.645   0   0   0    0
1  0.707  0.693  0.626   0   0   0    0
2  0.704  0.665  0.589   0   0   0    0
3  0.709  0.661  0.480   0   0   0    0

# SS & ternary

In [10]:
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "SS" and config["label"] == "ternary":
            results = obj["results"]
            data = list(results.values())
            acc = round(sum(data) / len(data), 3)
            df_results.at[config['pmode'], config['modal']] = acc

display(df_results)

   t  a  v  ta  tv  av  tav
0  0  0  0   0   0   0    0
1  0  0  0   0   0   0    0
2  0  0  0   0   0   0    0
3  0  0  0   0   0   0    0