In [2]:
import yaml 
import glob 
import pandas as pd
files = glob.glob("*.yaml")
print(f"実験結果数 : {len(files)}")

def profiling(profile, id):
    age = int(id[5])
    gender = id[4]

    if profile == 0:
        res = 0
    elif profile == 1:
        # 性別
        if gender == 'F':
            res = 0
        else:
            res = 1
    elif profile == 2:
        # 年齢(2クラス)
        # 40 <=, 40 >
        if age <= 4:
            res = 0
        else:
            res = 1
    elif profile == 3:
        if gender == 'F':
            if age <= 4:
                res = 0 
            else:
                res = 1
        else:
            if age <= 4:
                res = 2
            else:
                res = 3
    return res

実験結果数 : 56

# TS & ternary

In [3]:
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            results = obj["results"]
            data = list(results.values())
            acc = round(sum(data) / len(data), 3)
            df_results.at[config['pmode'], config['modal']] = acc

display(df_results)

       t      a      v     ta     tv     av    tav
0  0.758  0.692  0.641  0.761  0.760  0.727  0.765
1  0.752  0.695  0.511  0.740  0.722  0.711  0.733
2  0.758  0.704  0.528  0.751  0.751  0.718  0.753
3  0.705  0.623  0.501  0.736  0.717  0.675  0.730

### 性別

In [6]:
# 女性
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(1, key) == 0:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("女性")
display(df_results)

# 男性
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(1, key) == 1:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("男性")
display(df_results)

女性

       t      a      v     ta     tv     av    tav
0  0.754  0.688  0.635  0.751  0.755  0.722  0.754
1  0.752  0.686  0.504  0.755  0.745  0.713  0.751
2  0.752  0.708  0.521  0.754  0.741  0.729  0.753
3  0.745  0.599  0.498  0.745  0.747  0.670  0.746

男性

       t      a      v     ta     tv     av    tav
0  0.766  0.700  0.654  0.782  0.772  0.736  0.787
1  0.753  0.713  0.523  0.707  0.671  0.706  0.695
2  0.770  0.695  0.541  0.745  0.774  0.695  0.754
3  0.620  0.675  0.506  0.719  0.653  0.685  0.696

### 年齢

In [7]:
# 50歳未満
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(2, key) == 0:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("50歳未満")
display(df_results)

# 50歳以上
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "TS" and config["label"] == "ternary":
            # results = obj["results"]
            results = []
            for key, data in obj["results"].items():
                if profiling(2, key) == 1:
                    results.append(data)
            acc = round(sum(results) / len(results), 3)
            df_results.at[config['pmode'], config['modal']] = acc
print("50歳以上")
display(df_results)

50歳未満

       t      a      v     ta     tv     av    tav
0  0.774  0.709  0.650  0.781  0.778  0.737  0.785
1  0.771  0.703  0.517  0.764  0.753  0.721  0.760
2  0.772  0.720  0.510  0.770  0.772  0.748  0.773
3  0.716  0.611  0.512  0.758  0.718  0.688  0.758

50歳以上

       t      a      v     ta     tv     av    tav
0  0.731  0.663  0.626  0.725  0.728  0.707  0.729
1  0.719  0.680  0.499  0.696  0.666  0.692  0.684
2  0.732  0.675  0.560  0.718  0.713  0.665  0.717
3  0.685  0.645  0.480  0.697  0.714  0.652  0.681

# SS & ternary

In [5]:
df_results = pd.DataFrame(0, index=[0,1,2,3], columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "SS" and config["label"] == "ternary":
            results = obj["results"]
            data = list(results.values())
            acc = round(sum(data) / len(data), 3)
            df_results.at[config['pmode'], config['modal']] = acc

display(df_results)

       t      a      v     ta     tv     av    tav
0  0.520  0.439  0.505  0.403  0.515  0.395  0.396
1  0.495  0.371  0.417  0.427  0.495  0.427  0.428
2  0.388  0.388  0.388  0.485  0.388  0.388  0.388
3  0.434  0.413  0.368  0.433  0.434  0.434  0.366